.c-mapbutton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    margin: 0 auto;
    background-color: #018FD9;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: #fff;
    padding: 3px 5px;
    text-decoration: none;
}